body {
    display: grid;
    margin: 0;
    grid-template: "h h" 100px
		   "m n" minmax(calc(100vh - 150px), 100%)
		   "f f" 50px
		   / 1fr 200px;
}

body a {
    color: black;
}

header {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none none solid none;
}

#header-text {
    display: block;
}

#header-text * {
    margin: 0;
}

main {
    grid-area: m;
    margin: 0 200px;
}

main p img {
    display: inline-block;
    max-height: 24px;
    width: auto;
    margin: auto 4px;
}

main h1 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

main h2 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 70%;
    object-fit: contain;
}

main h3 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 50%;
    object-fit: contain;
}

main h4 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 40%;
    object-fit: contain;
}

main h5 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 30%;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    main h2 img {
	max-width: 100%;
    }
    main h3 img {
	max-width: 100%;
    }
    main h4 img {
	max-width: 100%;
    }
    main h5 img {
	max-width: 100%;
    }
}

nav {
    grid-area: n;
    overflow-y: scroll;
    scrollbar-width: none;
    border-style: none none none solid;
}

nav::-webkit-scrollbar {
    display: none;
}

.nav-entry {
    margin-bottom: 10px;
    margin-left: 5px;
}

.nav-entry * {
    margin: 0;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 197px;
    border-style: solid none none none;
}

footer small {
    margin: 0 5%;
}

@media screen and (max-width: 800px) {
    main {
	margin: 0;
    }

    footer {
	margin: 0 147px 0 0;
    }

    body {
        grid-template-columns: 1fr 150px;
    }
}
